<p>listing order form</p>
<table>
	<tr>
		<th >订单编号</th>
		<th>
		<table>
			<th colspan = "3">订单明细</th>
			<th>
				<tr>
					<td>商品</td>
					<td>单价</td>
					<td>数量</td>
				</tr>
			</th>
		</table>
		</th>
		<th>订单总价</th>
		<th>订单状态</th>
	</tr>

	<% @order_forms.each do |order_form| %>
		<tr>
			<td><%= order_form.id %></td>
			<td>
				<table>
						<% order_form.order_items.each do |order_item| %>
							<tr>
								<td><%= order_item.item.name %></td>
								<td><%= order_item.item.price %></td>
								<td><%= order_item.item_count %></td>
							</tr>
						<% end %>
				</table>
			</td>
			<td><%= order_form.total %></td>
			<td><%= order_form.state %></td>
		</tr>
	<% end %>
</table>