<p>edit item</p>
<%= form_for @item, url: category_item_path(@item), method: :patch do |f| %>
    <%= f.label :名称 %>
    <%= f.text_field :name %> <br>
    <%= f.label :价格 %>
    <%= f.text_field :price %> <br>
    <%= f.label :图片路径 %>
    <%= f.text_field :picture_addr %> <br>
    <%= f.label :introduction %>
    <%= f.text_area :introduction %> <br>
    <%= f.submit %>
<% end %>